.navbar {
    width: 100%;
    background: none;
    top: 0;
    left: 0; 
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    list-style: none;
}

.links {
    color: white;
    font-weight: 900;
}

.logo {
    color: white;
}